/* style.css */

body {
  padding-top: 4.3rem;
}

.bg-skyway {
  background-color: #064584;
}
nav img {
  height: 2.2rem;
}

.copyright {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  color: #ffffff;
  font-size: 0.8em;
}
